<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping class="com.security.domain.User"/>
		<mapping class="com.security.domain.Role"/>
<!-- 		<mapping class="com.security.domain.RoleUser"/> -->
		
		<mapping class="com.security.domain.Module"/>
		<mapping class="com.security.domain.Permission"/>
		<mapping class="com.security.domain.Session"/>
<!-- 		<mapping class="com.security.domain.RolePermission"/> -->
	</session-factory>
	
</hibernate-configuration>